header {
    width: 100%;
    height: 200px;
    background-image: url("18575422_10211412467781016_1446490516_o.jpg");
  }


  body{
      background-color: #605D60;
  }


  footer{
      background-color: #474447;
  }

  h5{
    text-align: center;
  }
