ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(216, 24, 40);
  }

#cursos {
    width: 23.5%;
    height: 300px;
    padding: 0px;
    margin: 10px;
    text-align: center;
    display: inline-block;
  }

h1{
    color: white;
    text-align: center;
}



.button {
    background-color: rgb(216, 24, 40);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}

